@model IEnumerable<RPGWorldTracker.Models.Campaign>
@if (Model == null)
{
	<a class="dropdown-item btn btn-success" asp-action="Create" asp-controller="Campaigns"> Create New Campaign! </a>
}
else
{
	@foreach (var item in Model)
	{
		<a class="dropdown-item" asp-action="Details" asp-route-id="@item.CampaignId">@Html.DisplayFor(modelItem => item.Name)</a>
	}
	<a class="dropdown-item btn btn-success" asp-action="Create" asp-controller="Campaigns"> Create New Campaign! </a>
}
